{% extends 'Client/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}

<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

    .requirement-container{
        border: 1px solid lightgrey ;
        background-color: white;
        /* border-radius: 5px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    body{
        background-color: whitesmoke;
    }

    .btn{
        background-color: #A0E7E5;
        color: darkgrey;
    }
    .by{
        font-size: 12px;
        color: gray;
    }

    .title{

        font-weight: bold;
    }
</style>

{% endblock style %}
{% block content %}
{% include 'Client/ngo_sidebar.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
        

 
        

      <!-- Page content -->
      <div class="content ">
        
         
        {% if messages %}
        {% for x in messages %}
                <div class="alert alert-custom  fade in alert-dismissable show " style="margin-top:18px;background-color: rgb(99, 99, 99);color: whitesmoke;font-weight: bold;font-size: 15px;">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button><center>{{x}}</center>
                </div>
         {% endfor %}
     {% endif %}


     <div class="container">
        <table class="mt-3">
            <tr>
               <th>Seller's Name</th>
              <th>Quantity</th>
              <th>Date</th>
              <th>Message (if any)</th>
            </tr>

            
            {% for o in orders %}
            <tr>
                <td>{{o.seller_name}}</td>
              <td>{{o.quantity}}</td>
              <td>{{o.date_posted|date:"M d, Y"}}</td>
              <td>{% if o.message %}{{o.message}}{% else %}<small style="color: gray;font-style: italic;">No message to display{% endif %}<small</td>
            </tr>
            {% endfor %}

          </table>
        
     
  </div>
                
                


              </div >
        


{% endblock content %}