{% extends 'Client/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'Client/navbar.html' %}
<style>

  .alert-custom{
  background-color: rgb(209, 0, 0, 0.3);
  color:rgb(141, 0, 0);
  font-weight: bold;
  }

</style>    
<div class="container ">
  <div class="row justify-content-center ">
    <div class='col-12 col-md-8'>
        {% if messages %}
        {% for x in messages %}
                <div class="alert alert-custom  fade in alert-dismissable show" style="margin-top:18px;font-size: 15px;font-weight: bold;background-color: rgb(99, 99, 99);color: whitesmoke;">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button><center>{{x}}</center>
                </div>
         {% endfor %}
         {% endif %}
         <div class="" style="background-color: whitesmoke;padding: 30px;margin-top: 10%;margin-bottom:10%;text-align: center;border: 1px solid lightgray;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <h2 style="padding: 15px;border-bottom: 2px solid #A0E7E5;font-weight: bold;">Create Account:</h2><br>
        <form method="POST">
            <div style="text-align: left;">
            {% csrf_token %}
            {{userform|crispy}}
            {{clientform|crispy}}
            <!-- <div class="form-group">
                <label class="control-label" >Account type<sup>*</sup></label>
                <select class="select form-control" name="group" required>
                    <option value="donor">Donor</option>
                    <option value="ngo">NGO</option>
                </select>
            </div> -->

            </div>
            <button type="submit" class="btn btn-danger" >Sign up</button><br><br>
            </form>
            <small class="text-muted">Already registered? </small> <a href={% url "login" %}  style="color: rgb(241, 41, 41);">Log In</a>
    </div>
</div>
</div>
</div>

{% endblock content %}